.Homepage{
    margin: 0;
    border: 0;
    text-align:left;
    background-color: purple;
}
.Intro .row{
    color: white;
    height:100%;
    padding-top:15%;
    padding-left:10%;
    padding-bottom:15%;
    padding-right:10%;
}
.Intro .row h2{
    padding-top:25%;
}
.Intro .row h1{
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    color:transparent;
    font-size:10rem;
    text-align:center;
}
.nav{
    position: absolute;
}
.Blog{
    padding-left:15%;
}
.Blog .Blog_Content{
    padding-top:15%;
}
.Blog .Blog_Content h2{
    padding-bottom:5%;
}
.Homepage_img{
    height:50vh;
}
.Podcast{
    margin-left:0;
    color:white
}
.Podcast .Podcast_Content {
    padding_top:15%;
}
.Treasury{
    display:flex;
    justify-content:center;
    padding-top:5vh;
    text-align: center;
}
.Treasury .Treasury_Content{
    position:absolute;
}
.Treasury .Treasury_Content h2{
    padding_bottom:15vh;
}